/* FOR TABLET SCREEN */

@media screen and (min-width: 768px) {
    .content-wrapper {
        margin: 0 2em;
    }

    .heading {
        padding-left: 4em;
    }

    .side-section {
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        margin: 1.5em;
    }
}